/* Impport Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: steelblue;
    --secondary-color: #ddd;
    --text-color: #333;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    padding: 10px;
    text-align: center;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

header img {
    width: 150px;
    margin-right: 20%;
}

header nav {
    margin-top: 10px; /* Adjust top margin as needed */
}

nav {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 40px; /* Adjust margin as needed */
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    z-index: 1; /* Set a higher z-index value */
}

.hero article {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    max-width: 80%;
}

.hero article img {
    float: right;
    margin-left: 20px;
    max-width: 30%;
}

h2 {
    text-align: center;
    color: #555; /* Set color for h2 */
    font-size: 1.5rem; /* Example font size */
    font-weight: bold; /* Example font weight */
    margin-bottom: 8px
}

section {
    margin-top: 30px;
}

footer {
    position: relative; /* Ensure the footer is a positioned element */
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px;
}

.sociallinks {
    position: absolute;
    bottom: 30px; 
    right: 20px; 
}

.sociallinks a {
    text-decoration: none;
}

.sociallinks img {
    width: 30px;
    margin: 0 5px; 
}
