/* Impport Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: steelblue;
    --secondary-color: #ddd;
    --text-color: #333;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    padding: 10px;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

header img {
    width: 150px;
    margin-right: 20%;
}

header nav {
    margin-top: 10px; 
}

nav {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 40px; 
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    z-index: 1; 
}

.hero article {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    max-width: 80%;
}

.hero article img {
    float: right;
    margin-left: 20px;
    max-width: 30%;
}

h2 {
    text-align: center;
    color: #555; 
    font-size: 1.5rem; 
    font-weight: bold; 
    margin-bottom: 8px
}

section {
    margin-top: 30px;
}

footer {
    position: relative; 
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px;
}

.sociallinks {
    position: absolute;
    bottom: 30px; 
    right: 20px; 
}

.sociallinks a {
    text-decoration: none;
}

.sociallinks img {
    width: 30px;
    margin: 0 5px; 
}

.adventures {
    margin-top: 20px;
}

.adventures h2 {
    text-align: center;
    color: #555; 
    font-size: 1.5rem; 
    font-weight: bold; 
    margin-bottom: 10px; /* Ensure some space between h2 and images */
}

.images-container {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
}

.images-container figure {
    margin-right: 20px; /* Adjust margin as needed */
    text-align: center;
}

.images-container figure:last-child {
    margin-right: 0; /* Remove margin from the last figure */
}

.images-container img {
    width: 200px; /* Set width to ensure all images are the same size */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Add some space between images */
}

.images-container figcaption {
    font-style: italic;
}

.images-container img[alt="Rafting Image 5"] {
    height: 135px; /* Adjust the height as needed */
}

.images-container img[alt="Rafting Image 2"] {
    height: 135px; /* Adjust the height as needed */
}
